<template>
    <div class="chat-component">

        <header class="header chat-header">
            <figure class="header__figure header__figure--partner">
                <img src="//placehold.it/96x96/" alt="Partner's avatar" class="header__avatar header__avatar--single">
                <figcaption class="header__title">
                    gotoAndBot
                </figcaption>
            </figure>
        </header>

        <main class="content chat-content">

            <ul class="chat-messages__list" v-chat-scroll>
                <li class="chat-messages__list-item" v-for="message in messages"
                    :class="{'chat-messages__list-item--mine': message.isMine}">
                    <article class="chat-messages__article" :class="{'chat-messages__article--mine': message.isMine}">
                        <header class="chat-messages__header" :class="{'chat-messages__header--mine': message.isMine}">
                            <a rel="author">{{message.user}}</a>
                            <time datetime="2018-07-07">{{ message.timeData}}</time>
                        </header>
                        <div class="chat-messages__article-content-wrapper">
                            <figure class="chat-messages__article-figure">
                                <img src="//placehold.it/96x96/" alt="Partner's avatar"
                                     class="header__avatar header__avatar--single">
                            </figure>
                            <div class="chat-messages__article-content">
                                {{ message.text }}
                            </div>
                        </div>
                    </article>
                </li>

            </ul>

        </main>

        <footer class="footer chat-footer">
            <input type="text" class="ChatInput" @keyup.enter="sendMessage" v-model="newMessage"
                   placeholder="Kirjuta siia">

                <div v-on:click="sendMessage" class="chatInputSend"></div>

        </footer>
    </div>
</template>

<script>
    const axios = require('axios');

    export default {
        props: {
            apiEndpoint: {
                default: '/botman',
            },
            userId: {
                default: +(new Date()),
            },
        },

        data() {
            return {
                messages: [],
                newMessage: null
            };
        },

        methods: {
            callAPI(text, interactive = false, attachment = null, callback) {
                let data = new FormData();
                const postData = {
                    driver: 'web',
                    userId: this.userId,
                    message: text,
                    attachment,
                    interactive,
                };

                Object.keys(postData).forEach(key => data.append(key, postData[key]));

                axios.post(this.apiEndpoint, data).then(response => {
                    const messages = response.data.messages || [];
                    messages.forEach(msg => {
                        this._addMessage(msg.text, msg.attachment, false, msg);
                    });
                    if (callback) {
                        callback(response.data);
                    }
                });
            },

            performAction(value, message) {
                this.callAPI(value, true, null, (response) => {
                    message.actions = null;
                });
            },

            _addMessage(text, attachment, isMine, original = {}) {
                this.messages.push({
                    'isMine': isMine,
                    'timeData': new Date().getHours() + ':' + (new Date().getMinutes() < 10 ? '0' : '') + new Date().getMinutes(),
                    'user': isMine ? 'Mina' : 'gotoAndBot',
                    'text': text,
                    'original': original,
                    'attachment': attachment || {},
                });
            },

            sendMessage() {
                let messageText = this.newMessage;
                this.newMessage = '';
                if (messageText === 'clear') {
                    this.messages = [];
                    return;
                }

                this._addMessage(messageText, null, true);

                this.callAPI(messageText);
            }
        }
    }
</script>
