.chat-content {
    flex: 1;
    padding: 12px 0;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.chat-messages {

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        overflow: auto;
        width: 100%;

        &-item {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            padding: 0 16px;
            margin-top: 8px;

            &--mine {
                justify-content: flex-end;
            }
        }

    }

    &__header {
        display: flex;
        align-items: center;
        flex-direction: row;

        @include media-breakpoint-up(md) {
            margin-left: 36px;
        }

        &--mine {
            flex-direction: row-reverse;
        }

    }

    &__article {

        $self: &;
        width: 80%;

        a[rel="author"] {
            opacity: 0.96;
            font-size: 12px;
            letter-spacing: 0.2px;
            color: $brand-primary;
        }

        time {
            opacity: 0.54;
            font-size: 10px;
            letter-spacing: 0.2px;
            color: $text-color;
            padding-left: 8px;


        }

        &-content {
            background: $brand-success;
            padding: 8px 18px;
            border-radius: 2px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: -4px;
                top:50%;
                margin-top:-4px;
                height: 8px;
                width: 8px;
                background: $brand-success;
                transform: rotate(45deg);
            }

            &-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

        }

        &-figure {
            margin-right: 16px;
            margin-bottom: 0;
            display: none;

            @include media-breakpoint-up(sm) {
                display: block;
            }

            > img {
                border-width: 2px;
                height: 24px;
                width: 24px;
            }

        }

        &--mine {
            a[rel="author"] {
                opacity: 0.85;
                color: $brand-secondary-light;
            }

            #{ $self }-content {
                background: $brand-secondary;

                &:before {
                    content: '';
                    position: absolute;
                    left: unset;
                    right: -4px;
                    top:50%;
                    margin-top:-4px;
                    height: 8px;
                    width: 8px;
                    background: $brand-secondary;
                    transform: rotate(45deg);
                }
            }

            .chat-messages__article-figure {
                display: none;
                margin-left: 0;
            }

            .chat-messages__article-content-wrapper {
                justify-content: flex-end;
            }

            time {
                padding-right: 8px;
                padding-left: 0;
            }

        }

    }

}

