.chat-footer {

    background: $brand-white;
    padding: {
        top: 12px;
        bottom: 12px;
        left: 18px;
        right: 18px;
    }
    border-top: 1px solid $brand-primary;
    position: relative;

    & > textarea,
    > input {
        color: $text-color;
        font-size: 16px;
        letter-spacing: 0.3px;
        padding: 0;
        margin: 0;
        border: none;
        width: calc(100% - 24px);
        outline-color: $brand-primary;
        resize: vertical;

    }

}

.chatInputSend {
    position: absolute;
    height: 100%;
    width: 44px;
    right: 0;
    top: 0;
    bottom: 0;

    &:after {

        content: '';
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -7px;
        height: 14px;
        width: 14px;
        background: transparent;
        border-width: 1px;
        border-color: $brand-primary;
        border-top-style: solid;
        border-right-style: solid;
        transform: rotate(45deg);

    }
}