.header {

    padding: {
        top: 8px;
        bottom: 8px;
        left: 16px;
        right: 16px;
    }

    background: $brand-white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);

    &__avatar {
        border: 3px solid $brand-primary;
        height: 48px;
        width: 48px;
        @extend .rounded-circle;
    }

    &__figure {
        height: 48px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
    }

    &__title {
        margin-left: 8px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.2px;
        text-align: center;
        color: $brand-primary;
    }

}