
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$brand-secondary: #e7e9ff;
$brand-white: #ffffff;
$brand-success: #ddfde8;
$brand-primary: #62e2c0;
$text-color: #475277;
$brand-secondary-light: #a5acff;
