
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Daniel Sepp
@import "globals";
@import "chatbot/header";
@import "chatbot/content";
@import "chatbot/footer";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
